[Unit]
Description=Rpi Graduation Countdown Script

[Service]
WorkingDirectory=/home/pi/Rpi-Clock/src
ExecStart=/usr/bin/python3 /home/pi/Grad-Countdown/main.py > /dev/null 2>&1
KillSignal=SIGINT

[Install]
WantedBy=default.target
